.inset {
  inset: 0;
}

.margin {
  margin-inline-start: 0;
}

.padding {
  padding-inline: 0;
}

.float {
  float: inline-start;
}

.text-align {
  text-align: start;
}

.ui-autocomplete__search {
  position: sticky;
  z-index: 1;
  padding: 16px;
  background-color: white;
  border-block-end: 1px solid var(--ui-color-border);
  inset-block-start: 16px;
  inset-inline-start: 0;
  margin-block-end: 0;
  transform: translateY(-16px);
}
