@mixin variables {
  --ui-button-icon-size: calc(
    var(--ui-button-font-size) * var(--ui-button-line-height)
  );
  --ui-icon-default-background-color: var(
    --ui-button-color,
    var(--ui-color-primary)
  );
  --ui-button-padding: 8px;
  --ui-button-font-size: 16px;
  --ui-button-line-height: 1.5;
  --ui-button-color: currentColor;
  --ui-button-color--h: currentColor;
  --ui-button-color--p: currentColor;
}

@mixin font-size-default {
  font-size: 16px;
}

.ui-button {
  @include variables;

  position: relative;
  display: inline-flex;
  overflow: hidden;
  height: var(--height);
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  border: none;
  appearance: none;
  background-color: var(
    --ui-button-color,
    var(--ui-icon-default-background-color)
  );
  border-radius: 4px;
  color: scale-color(saturate, blue, 20%);
  color: white;
  cursor: pointer;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.1s;
  user-select: none;

  &--size {
    &--small {
      --ui-button-padding: 8px;
      --ui-button-font-size: 14px;
      --ui-button-line-height: 1.14;
    }

    &--default {
      --ui-button-padding: 8px;
      --ui-button-font-size: 16px;
      --ui-button-line-height: 1.5;
    }

    &--large {
      --ui-button-padding: 16px;
      --ui-button-font-size: 20px;
      --ui-button-line-height: 1.2;
    }
  }

  &--color {
    &--light,
    &--white {
      --ui-button-icon-size: calc(
        var(--ui-button-font-size) * var(--ui-button-line-height) - 2px
      );

      border: solid 1px var(--ui-color-input-border);
      color: var(--ui-color-secondary);
    }

    &--link {
      --ui-button-icon-size: calc(
        var(--ui-button-font-size) * var(--ui-button-line-height) - 2px
      );

      border: solid 1px var(--ui-color-input-border);
      background-color: transparent !important;
      color: var(--ui-button-color);

      &:active {
        color: var(
          --ui-button-color--p,
          var(--ui-icon-default-background-color)
        );
      }

      &:hover {
        color: var(
          --ui-button-color--h,
          var(--ui-icon-default-background-color)
        );
      }
    }
  }

  &--block {
    width: 100%;
  }

  &::after {
  }

  & ::-moz-range-track {
  }

  & ::v-deep {
  }

  &:active,
  &:focus {
    background-color: var(
      --ui-button-color--p,
      var(--ui-icon-default-background-color)
    );
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover,
    &:active {
      background-color: var(--ui-button-color);
    }
  }

  &:hover {
    background-color: var(
      --ui-button-color--h,
      var(--ui-icon-default-background-color)
    );
    text-decoration: none;
  }

  & * {
  }

  & ~ .ui-buttons {
    margin-left: var(--ui-button-padding);

    @media ($mobile-l) {
      margin-left: calc(var(--ui-button-padding) / 2);
    }
  }

  & ~ .ui-button {
    margin-left: var(--ui-button-padding);

    @media ($mobile-l) {
      margin-left: calc(var(--ui-button-padding) / 2);
    }
  }

  & + .ui-button {
    margin-left: var(--ui-button-padding);

    @media ($mobile-l) {
      margin-left: calc(var(--ui-button-padding) / 2);
    }
  }

  & > .ui-button {
    margin-left: var(--ui-button-padding);

    @media ($mobile-l) {
      margin-left: calc(var(--ui-button-padding) / 2);
    }
  }

  &.tewst {
  }

  & .ui-button {
    margin-left: var(--ui-button-padding);

    @media ($mobile-l) {
      margin-left: calc(var(--ui-button-padding) / 2);
    }
  }
}

@supports {
}

@media (prefers-reduced-motion: reduce) {
  .animation {
    -webkit-animation: none;
    animation: none;
    content-visibility: hidden;
  }
}

.ui-textarea__field {
  position: relative;
  display: block;
  width: 100%;
  min-width: 0;
  min-height: 58px;
  padding: 16px;
  border: 1px solid var(--ui-color-input-border);
  background-color: white;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px transparent;
  color: var(--ui-color-article-text);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.5;
  resize: vertical;
  transition-duration: 0.1s;

  &::placeholder {
    color: var(--ui-color-placeholder);
  }

  &:focus {
    border-color: var(--ui-color-outline);
    background-color: white;
    box-shadow: inset 0 0 0 1px var(--ui-color-outline);
    outline: none;
  }

  &[disabled] {
    border-color: var(--ui-color-light);
    background-color: var(--ui-color-light);
  }

  @at-root .ui-textarea[class*='--invalid'] & {
    border-color: var(--ui-color-danger);

    &:focus {
      box-shadow: inset 0 0 0 1px var(--ui-color-danger);
    }
  }

  @at-root .ui-textarea[class*='--invalid'] .ui-textarea__prefix + & {
    border-left-color: var(--ui-color-border);

    &:focus {
      border-left-color: var(--ui-color-danger);
    }
  }
}

.ui-button__text-wrap {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: var(--ui-button-padding);
  font-size: var(--ui-button-font-size);
  line-height: var(--ui-button-line-height);
}

.ui-button__prefix {
  display: flex;
  align-items: center;
  margin-right: 8px;

  &:only-child {
    margin-right: 0;
  }
}

.ui-button__text {
  position: relative;
}

.ui-button__suffix {
  --ui-bitton-suffix-size: calc(
    calc(var(--ui-button-padding) * 2) + var(--ui-button-icon-size)
  );

  display: flex;
  width: var(--ui-bitton-suffix-size);
  flex-shrink: 0;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  background-color: var(--ui-button-color--h, transparent);

  @at-root .ui-button[class*='--color--link'] & {
    background-color: transparent !important;
  }
}
